body {
    margin: 0;
    text-align: center;
    background-color: #1b0d66;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    color: #dce3e6;
}

button {
    background: none;
    color: #dce3e6;
    border-color: #dce3e6
    
}



